<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error </title>
</head> -->
<%- include("include/head.ejs") %>
<body>
    <!-- instagram no account then print -->
    <h2>No such Account</h2>

    <!-- include footer  -->
    <%- include("include/footer.ejs") %>
    
</body>
</html>