<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- Template file -->
    <h1>This is the home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam voluptatibus deleniti ea libero sit ad, molestiae molestias animi numquam at iure architecto natus odit dolorem quas nulla, itaque necessitatibus iusto quibusdam praesentium earum. Aliquid numquam veniam necessitatibus laboriosam fugit nisi minima! Consequatur perferendis obcaecati nisi harum. Necessitatibus obcaecati consequuntur, iure deserunt sint labore neque nulla facere impedit! Necessitatibus illo reprehenderit odit a non esse consectetur, sint quidem autem consequatur ducimus dignissimos fuga soluta hic sunt perspiciatis, quia rerum ut dolore ad veniam ipsam, quae aliquam. Inventore modi, eius cum eaque dignissimos porro totam? Incidunt aliquam vitae quos possimus nulla accusantium.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam voluptatibus deleniti ea libero sit ad, molestiae molestias animi numquam at iure architecto natus odit dolorem quas nulla, itaque necessitatibus iusto quibusdam praesentium earum. Aliquid numquam veniam necessitatibus laboriosam fugit nisi minima! Consequatur perferendis obcaecati nisi harum. Necessitatibus obcaecati consequuntur, iure deserunt sint labore neque nulla facere impedit! Necessitatibus illo reprehenderit odit a non esse consectetur, sint quidem autem consequatur ducimus dignissimos fuga soluta hic sunt perspiciatis, quia rerum ut dolore ad veniam ipsam, quae aliquam. Inventore modi, eius cum eaque dignissimos porro totam? Incidunt aliquam vitae quos possimus nulla accusantium.</p>
    <button>click me!</button>
    <h2>1+2</h2>
    <h2><%= 1+2 %></h2>    <!-- Dynamic HTML string  -->
    <h2>apnacollege</h2>
    <h2><%= "apnacollege".toUpperCase() %> </h2>
    <h3><%=["hello","namaste","bonjour"] [2] %></h3>

    <!-- include footer  -->
    <%- include("include/footer.ejs") %>
</body>
</html>