<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chat</title>
</head>
<body>
    <form method="post" action="/chats">
        <h2>Write new chat...</h2>
        <input type="text" name="from" placeholder="Who are you?"><br><br>
        <textarea name="msg" cols="20" rows="10" placeholder="Write your message here"></textarea><br><br>
        <input type="text" name="to" placeholder="Add receiver"><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>