<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <h1 class="col-6 offset-3">LogIn on WonderLust</h1>
        <div class="col-6 offset-3">
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="text" placeholder="Enter Username" name="username" class="form-control" required> 
                    <!-- <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Username should be valid</div> -->
                </div>
                <!-- <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" type="text" placeholder="Enter Email" name="email" class="form-control" required> 
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Email should be valid</div>
                </div> -->
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" type="password" placeholder="Enter Password" name="password" class="form-control" required> 
                    <!-- <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Password should be valid</div> -->
                </div>
                <button class="btn btn-primary">LogIn</button>
            </form>
        </div>
    </div>
</body>