<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
</head>
<body>
    <form method="post" action="/user"><%=// ${id} %>
        <h3>Enter Username...</h3>
        <input type="text" name="username" placeholder="Enter Username">
        <h3>Enter Email...</h3>
        <input type="email" name="email" placeholder="Enter Email">
        <h3>Enter Password...</h3>
        <input type="password" name="password" placeholder="Enter Password">
        <br><br>
        <button>Create Account</button>

    </form>
</body>
</html>