<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Demo</title>
</head>
<body>
    <h2>Home</h2>
    <a href="/facebook/signup">Singup</a>
    <a href="/facebook/login">Login</a>
</body>
</html>