<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>
    <h2>Facebook Signup</h2>
    <form method="post" action="/facebook/signup">
        <input type="text" name="username" placeholder="Enter username" required><br>
        <input type="text" name="fullname" placeholder="Enter fullname" required><br>
        <input type="email" name="email" placeholder="Enter email" required><br>
        <input type="password" name="password" placeholder="Enter password" required><br>
        <button>Signup</button>
    </form>
</body>
</html>