/* show.ejs style------------------------------------------------------------------------ */
@media (max-width: 769px){
.show-body{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    margin: none;
    padding: none;
}
.show-body>div{
    width: 100% !important  ;
}
.offset-2{
    margin-left: 0px !important;
}
.container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin: 0px auto !important;
    max-width: 450px !important;
}
}