body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
    /* width: auto; */
}

/* navbar */
.navbar{
    height: 5.5rem;
    background-color: white;
}
.container-fluid{
    margin: 0px 5%;
    
}
.navbar img.imgAirbnb{
    height: 3rem;
    width: 6.2rem;
    filter: contrast(2);
}
.navbar img.imgAirbnb-s{
    height: 2.2rem;
    width: 3rem;
    filter: contrast(2);
    margin-top: 6px;
    /* display: none; */
}
.fa-compass{
    color: #fe434d;
    font-size: 2rem;
}
.nav-link{
    color: black !important;
    font-size: 1.5rem;
}
.navbar-nav{
    background-color: rgba(255, 255, 255, 0.928);
    font-weight: 800;
    font-size: 0.9rem;
}
@media (max-width: 707px){
    .navbar img.imgAirbnb-s{
        /* display: block !important; */
        display: none !important;
    }
}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: black;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;

}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

/* card */
.card{
    border: .5px solid grey;
    margin-bottom: 1rem;  
    height: 20rem;
    /* width: 20rem;   */
    overflow: hidden; 
}
.listing-card{
    border: none !important;
    padding: 5px;
}
.card-img-top{
    width: 100% !important;
    height: 20rem !important;
    object-fit: cover !important;  
    opacity: .9; 
    transition: .5s ease-out 0s;
}



/* -------hover effect-------- */
.show-card-img{
    /* height: 17rem !important; */
    overflow: hidden !important;
    border-radius: 1rem !important;
    display: flex;
}
.card-img{
    height: 20rem !important;
    overflow: hidden !important;
    border-radius: 1rem !important;
    box-shadow: 0px 6px 5px black !important;
    margin-bottom: 5px;

}
.card-img-top:hover{
    transform:  scale(1.125) !important;
    transition: .5s ease-in-out 0s;
    filter: contrast(1.25);
    opacity: 1;
}
/* -------------- */

.card-body{
    margin-top: 5px;
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none !important;
}

/* new.ejs style */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit.ejs style */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show.ejs style */
.show-img{
    height: 30vh !important;
    opacity: 1 !important;
    /* width: 30vh; */
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* @media (max-width: 500px) {
 .edit-btn{
    width: 4rem !important;
 }   
} */
@media (max-width: 767px){
 .edit-btn{
    width: 4rem !important;
 }   
 #map{
    height: 300px !important;
 }
 .mapImg{
    /* padding: none; */
    padding-left: 0 !important;
    padding-right: 0 !important;
 }
}

.listingImg{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

/* map  */
#map{
    height: 600px;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid rgba(0, 128, 0, 0.428);
}


@media (max-width: 768px){
    .show-main{
        display: contents !important;
        width: auto !important;
        margin: none;
        padding: none;
        /* position: relative; */
        max-width: 650px !important;
        
    }
    .show-main>div{
        /* align-items: center; */
        width: 95%;
        /* position: relative !important;
        left: 10px !important; */
        margin: auto auto !important;
    }
}
/* body::-webkit-scrollbar{
    display: none;
} */